<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de la Empresa</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Empresas/css/styles3.css' %}">
</head>
<body>
    <div class="dashboard-container">
        <aside>
            <h2>Dashboard de Empresa</h2>
            <nav>
                <ul>
                    <li><a href="{% url 'dashboardEmpresa' %}">Inicio</a></li>
                    <li><a href="{% url 'GestiProductos' %}">Gestión de productos</a></li>
                </ul>
            </nav>
            <a href="{% url 'logout' %}" class="logout-button">Cerrar sesión</a>
        </aside>

        <main>
            <header>
                <h1>Bienvenido al Panel de la Empresa</h1>
            </header>

            <div class="grid-container">
                <!-- Tarjeta de Ejemplo 1 -->
                <div class="card">
                    <h3>Datos de la Empresa</h3>
                    <p>Añade tus datos de empresa, incluyendo tu logo, descripción y contacto.</p>
                </div>

                <!-- Tarjeta de Ejemplo 2 -->
                <div class="card">
                    <h3>Gestión de Productos</h3>
                    <p>Controla el inventario de tus productos. Añade nuevos productos, actualiza los existentes y organiza por categorías.</p>
                </div>

            </div>
        </main>
    </div>
</body>
</html>