<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de la Empresa</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Empresas/css/styles3.css' %}">
</head>
<body>
    <div class="dashboard-container">
        <aside>
            <h2>Dashboard de Empresa</h2>
            <nav>
                <ul>
                    <li><a href="{% url 'dashboardEmpresa' %}">Inicio</a></li>
                    <li><a href="{% url 'GestiProductos' %}">Gestión de productos</a></li> 
                    <li><a href="{% url 'empresa_ideas' %}">Gestión de ideas</a></li>
                </ul>
            </nav>
            <a href="{% url 'logout' %}" class="logout-button">Cerrar sesión</a>
        </aside>
    {% block content %}
    <main>
        <h1>Listado de Productos</h1>

        <div class="add-product">
            <a href="{% url 'agregar_producto2' %}" class="button">Agregar Nuevo Producto</a>
        
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre del Producto</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
                {% for armario in armarios %}
                <tr>
                    <td>{{ armario.nombre3 }}</td>
                    <td>{{ armario.descripcion3 }}</td>
                    <td>{{ armario.precio3 }}</td>
                    <td>

                        <a href ="{% url 'editar_producto2' armario.id %}" class="button">Editar</a>
                        <a href ="{% url 'eliminar_producto2' armario.id %}" class="button">Eliminar</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    
                    {% endfor %}


    </main>
    {% endblock %}
    </div>
</body>
</html>                                                                                                                                                                                                                                                                                                                                                                                              