 <!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tu Idea Hecha Realidad</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
</head>
<body>
 
<!-- BARRA LATERAL (MENÚ + FILTROS) -->
<div class="sidebar">
    <a href="{% url 'perfilUsuario' %}"><img src="{% static 'core/img/Perfil.png' %}" alt="Logo" width="50" height="50" style="border-radius: 50%; border: 2px solid #007BFF;"></a>
  <h2 class="h2-side">Menú</h2>
  <ul>
    <li><a href="{% url 'home3' %}">Gangazos</a></li>
    <li><a href="{% url 'idea' %}">Crear Idea</a></li>
    <li><a href="{% url 'productos' %}">Ofertas</a></li>
    <li><a href="{% url 'carrito' %}">Carrito</a></li>
    <li><a href="{% url 'contact' %}">Contáctenos</a></li>
    <li><a href="{% url 'logout' %}" class="logout-button">Cerrar Sesión</a></li>
  </ul>

  <!-- FILTROS -->
  <div class="filtros">
    <h3>Filtrar productos</h3>

    <h2 for="categoria" class="h2-side">Categoría:</h2>
    <select id="categoria">
        <option value="">Elegir Categoria</option> 
        <option value="carpinteria">Armarios</option>
        <option value="marroquineria">Escritorios</option>
        <option value="vidrieria">Sillas</option>
        <option value="metaleria">Cajoneras</option>
        <option value="ceramica">Mesas</option>
        <option value="tapiceria">Utensilios</option>
    </select>

    <button onclick="aplicarFiltros()">Aplicar filtros</button>
  </div>
</div>

<!-- CONTENIDO PRINCIPAL -->
<div class="main-content-wrapper">
  <header>
    <h1 class="div" style="text-align: center;">
      <img src="{% static 'core/img/Gemini_Generated_Image_tzay6utzay6utzay.jfif' %}" alt="Logo" width="75" height="75">
      Tu Idea Hecha Realidad
    </h1>
  </header>

    <section>
        <div>
            <section class="seccion-at">
            <h2>¡Gangazos! DISFRUTA BUENOS PRODUCTOS EN OFERTA Y DE BUENA CALIDAD.</h2>
            <P>Disfruta de nuevos productos y en oferta que puedes que puedes llevar a buen precio 
                y de buena calidad, donde apollas a personas y empresas que se dedican a hacer estos productos a base 
                de ideas por los usuarios de nuestra plataforma. ¡Disfruta de nuestros productos en oferta!</P>
            </section>
        </div>
        <br>
        <section class="seccion-at">
        <div>
            <h2><b>Carpinteria:</b></h2>
        </div>
        <div class="contenedor-articulos" id="contenedorArticulos">
        <div class="articulo">
            <img src="{% static 'core/img/Cat carpintería.jpeg' %}" alt="Imagen del Producto 1">
            <div class="contenido-articulo">
                <h3>MESAS</h3>
                <p>La mayoria de nuestras mesas estan a 20% de descuento hasta mañana.</p>
            </div>
        </div>

        <div class="articulo">
            <img src="{% static 'core/img/Sillas.jpeg' %}" alt="Imagen del Producto 2"> 
            <div class="contenido-articulo">
                <h3>SILLAS</h3>
                <p>La mayoria de nuestras sillas estan a 26% de descuento hasta mañana.</p>
            </div>
        </div>

        <div class="articulo">
            <img src="{% static 'core/img/Armario.jpeg' %}" alt="Imagen del Producto 3">
            <div class="contenido-articulo">
                <h3>ARMARIOS</h3>
                <p>La mayoria de nuestros armarios estan a 17% de descuento hasta mañana.</p>
            </div>
        </div>

        <div class="articulo">
            <img src="{% static 'core/img/Cajonera.jpeg' %}" alt="Imagen del Producto 4">
            <div class="contenido-articulo">
                <h3>CAJONERAS</h3>
                <p>La mayoria de nuestras cajoneras estan a 15% de descuento hasta mañana.</p>
            </div>
        </div>

        <div class="articulo">
            <img src="{% static 'core/img/Escritorio.jpeg' %}" alt="Imagen del Producto 5">
            <div class="contenido-articulo">
                <h3>ESCRITORIOS</h3>
                <p>La mayoria de nuestros escritorios estan a 23% de descuento hasta mañana.</p>
            </div>
        </div>

        <div class="articulo">
            <img src="{% static 'core/img/Utensilios.jpeg' %}" alt="Imagen del Producto 4">
            <div class="contenido-articulo">
                <h3>UTENSILIOS</h3>
                <p>La mayoria de nuestros utensilios estan a 15% de descuento hasta mañana.</p>
            </div>
        </div>
        </div>
        </section>
    </section>
    <br>
    <section>
        <section class="seccion-at">
        <div>
            <h2>¿Por qué aprovechar los diferentes gangazos?</h2>
            <p>Aprovechar los gangazos no solo es una excelente manera de comprar de forma inteligente, 
                sino también una oportunidad de maximizar el valor de cada peso que inviertes. Aquí te explicamos por qué:</p>
            <ul>
                <section class="seccion-at">
                <li><p><b>Beneficio 1: Ahorra dinero.</b></p>
                <li><p>Los gangazos te permiten acceder a productos y servicios a precios reducidos sin sacrificar la calidad. 
                    Esto significa que puedes cuidar tu presupuesto, comprar más por menos y destinar tus ahorros a otras prioridades 
                    o gustos personales. Ideal para quienes quieren cuidar su economía sin dejar de disfrutar de lo mejor.</p></li>
                </li>
                </section>
                <br>
                <section class="seccion-at">
                <li><p><b>Beneficio 2: Obtén calidad superior.</b></p>
                <li><p>Muchas ofertas especiales incluyen artículos de alta gama o con excelente reputación en el mercado. Al aprovechar 
                    estos descuentos, puedes llevarte a casa productos de gran calidad que quizás no adquirirías a precio completo. Es la 
                    oportunidad perfecta para elevar tus estándares sin elevar tus gastos.</p></li>
                </li>
                </section>
                <br>
                <section class="seccion-at">
                <li><p><b>Beneficio 3: Disfruta de características exclusivas.</b></p>
                <li><p>Algunos gangazos incluyen ediciones limitadas, productos con diseños únicos o servicios con beneficios adicionales 
                    que normalmente no están disponibles. Esto te permite disfrutar de una experiencia más personalizada y especial, 
                    diferenciándote con artículos o servicios únicos y de alto valor.</p></li>
                </li>
                </section>
            </ul>
        </div>
        </section>
    </section>
    <br>
    <section>
        <section class="seccion-at">
        <div class=".div">
            <h2>¡Actúa ahora!</h2>
            <p>La oferta termina pronto. ¡No esperes más!</p>
            <img class="div" src="{% static 'core/img/Descuento.jfif' %}" alt="Descuentos" height="400" width="400">
            <br>
            <button><a href="{% url 'productos' %}">¡Gangazos!</a></button>
        </div>
        </section>
    </section>

  <footer>
    <p>&copy; 2025 Tu Idea Hecha Realidad</p>
  </footer>
</div>

<script>
  function aplicarFiltros() {
        const categoria = document.getElementById('categoria').value;
        console.log('Aplicando filtros y redirigiendo...');
        console.log('Categoría seleccionada:', categoria);

        if (categoria) {
            const urlRedireccion = '/' + categoria + '/';
            
            console.log('Redirigiendo a:', urlRedireccion);
            window.location.href = urlRedireccion;
        } else {
            window.location.href = '/productos/'; 
        }
    }
</script>

</body>
</html>

